@font-face {font-family: brandon; src: url(fonts/Brandon_thin.otf);}

body{
    margin: 0;
    width: 100%;
    font-family:sans-serif;
}

header{
    background: black;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}

main{
    margin: auto;
    width: 95%;
    padding: 2%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article{
    background: #000;
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
}

#zuurstof{
    display: none;
}

canvas{
    width: 350px;
    height: 350px;
}

h2{
    font-family: brandon;
    text-transform: uppercase;
    color: #fff;
}

figure{
    margin: 0;
    width: 50%;
    padding: 30px;
}

.chartdiv {
    width: 100%;
    height: 350px;
}


/* --- tablet --- */
@media (min-width: 600px) { 
    html {
        height: 100%;
    }
    
    body {
        background: url(images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    main{
        flex-wrap: wrap;
        flex-direction: row;    
    }
        
    article{
        width: 40%;
    }
    
    #zuurstof{
        display: block;
    }
}


/* --- desktop-small --- */
@media (min-width: 1200px) { 
    
}

/* --- desktop-large --- */
@media (min-width: 1800px) { 

}

    
